@font-face {
    font-family: 'gd_boingbold';
    src: url('files/fonts/gd-boing-bold-webfont.woff2') format('woff2'),
         url('files/fonts/gd-boing-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.logo{
    font-family: 'gd_boingbold', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    color: #007bff;
}

.nav-link:hover{
  color: #007bff;
}

button.btndegrade{
  font-weight:bold;
  font-style:normal;
  /* background-color: aliceblue !important; */
  background: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(102,16,242,1) 72%) !important;
  color: white;
}

button.btndegrade:hover{
  font-style:oblique;
}

#heroInicial {
    margin-top: 120px;
  }

#heroSecundario {
    margin-top: 120px;
  }